/* ==================================================
   ! Fonts
================================================== */

/*  ! Font-Awesome
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// font-fa: 'font-awesome';
@import "font-awesome"; 

/*  ! HR
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
$font-hr: 'NymphetteRegular';
@import "others"; 

/*  ! Bootstrap Font
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$font-b1: $font-family-sans-serif; // "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-b2: $font-family-serif;  // Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-b3: $font-family-monospace; // Menlo, Monaco, Consolas, "Courier New", monospace !default;

/*  ! Google Fonts
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* General */
$font-g1: 'Roboto', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900,900italic);

$font-g2: 'Alike', serif;
@import url(http://fonts.googleapis.com/css?family=Alike);


/* Headings (font-weight: 700;) */
$font-h1: 'Fjalla One', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);

$font-h2: 'Open Sans Condensed', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);


/* Thin */
$font-t1: 'Open Sans Condensed', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

$font-t2: "PT Sans Narrow", Helvetica, Arial, sans-serif;

/*  ! Fontfaces
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$font-g3: 'PT sans', san-serif;
@import "pt";

