/* ==================================================
   ! Other fonts.
================================================== */
@font-face {
    font-family: 'NymphetteRegular';
    font-weight: normal;
    font-style: normal;
    src: url('Nymphette-webfont.eot');
    src: url('fonts/others/Nymphette-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/others/Nymphette-webfont.woff') format('woff'), url('fonts/others/Nymphette-webfont.ttf') format('truetype'), url('fonts/others/Nymphette-webfont.svg#NymphetteRegular') format('svg');}