/* ==================================================
   ! Footer styls.
================================================== */
.l-footer {}

.l-list-inline {
  @extend .l-list-unstyled;

  li {
    display: inline;
  }
}

.social-icon {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    padding-top: 1rem;

    margin: 0 1.5rem;

    text-align: center;
    
    font-size: 3rem;
}