/* ==================================================
   ! Header styles.
================================================== */
/*  ! Adjust Navbar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/*  ! Adjust Admin Bar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.admin-bar .navbar-fixed-top {
  margin-top: 30px;
}













