/* ==================================================
   ! Main styles.
================================================== */
/**
 * 1. General
 * 2. Page
 * 3. Posts Page
 * 4. Portfolios Page
 * 5. Single Portfolio Page
 */

// General =====================
.main {
  box-shadow: 1px 0 1px 1px rgba(0, 0, 0, .1);
  box-shadow: inset -1px -1px 2px -2px rgba(0, 0, 0, .2);
  border: 1px solid $grey;
}

// Page =====================
.page {
  h1,
  h2 {
    color: $c-text;
  }
}

// Posts Page =====================
.post {
  margin: 1rem 0 3rem;
  border-top: 1px solid $grey;
}

.post-header {
  margin-bottom: 2rem;

  // Posts Page
  h1, h2 {
    padding-top: 1rem;
    display: inline-block;

    padding-bottom: 1rem;
    margin-bottom: .3rem;

    border-bottom: 4px solid $aqua-light;
  }
}

// Single Post Page
ul.meta {  
  padding: 0;
  margin: 0;

  li {
    display: inline;
    margin-right: 1rem;
    font-family: $f-303;
    font-size: .8em;

    i {
      padding-right: .5rem;
      color: $orange;
    }
  }
}

.featured-image {
  width: 100%;
}

// Portfolios Page =====================
.portfolio-item {
  padding-bottom: 1em;
  
  p {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

// Single Portfolio Page =====================
.portfolio-nav {
  margin-top: 2em;
  text-align: right;

  font-size: 1.5em;

  a {
    padding: 0px .2em;
  }
}
.portfolio-image img {
  max-width: 100%;
  height: auto;

  margin-top: 1em;
}


