/* ==================================================
   ! Site settings.
================================================== */

/*  ! Typography
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

$base-font-size: 16px;
$baseline: $base-font-size * 1.5;

/* Google Fonts */
// @import url(http://fonts.googleapis.com/css?family=Cardo:400italic,700,400|Alike|IM+Fell+English:400,400italic|Oswald:400,300,700);

/* set 1 */
$font-11: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-12: Georgia, serif;

/* set 2 */
$font-21: "PT Sans", Helvetica, Arial, sans-serif;
$font-22: "PT Sans Narrow", Helvetica, Arial, sans-serif;

/* Set 3 */
$font-31: 'Cardo',Georgia, serif;
$font-32: 'IM Fell English',Georgia, serif;

/* Set 4 */
$font-41: 'Alike',Georgia, serif;
$font-42: "Oswald", Helvetica, Arial, sans-serif;



/* decorative */
$font-51: 'NymphetteRegular';


/*  ! Colors
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Link */
$color-link: #00B5FE;
$color-link-hover: #FFD86A;

/* Text */
$color-text: #333;
$color-light-text: #777;

/* hr */
$color-hr: #eee; 

/* Validation */
$color-error: red;
$color-success: green;

/* bg colors */
$color-well: #2D3439;
$color-image-well: #FAFAFA;

/* Gradiant Colors*/
$color-g00: rgba(48, 178, 255, 0);
$color-g10: rgba(48, 178, 255, .99);


/* Other Solid Colors */
$color-1: #00B5FE;
$color-2: #FFD86A;
$color-3: #2B92FA;
$color-4: #FFFB53;



/*  ! Positioning
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$margin-multiplier: 2;

$general-margin: $baseline * $margin-multiplier;