/* ==================================================
   ! Site settings.
================================================== */

/*  ! Typography
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$base-font-size: 16px;
$baseline: $base-font-size * 1.5;


/*  ! Colors
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Link */
$c-link: #00B5FE;
$c-hover: #FFD86A;

/* Text */
$c-text: #333;
$c-light-text: #777;

/* hr */
$c-hr: #eee; 

/* Validation */
$error: red;
$success: green;

/* bg colors */
$bg-well: #2D3439;

/* Gradiant Colors*/
$c-g000: rgba(48, 178, 255, 0);
$c-g099: rgba(48, 178, 255, .99);

/* Other Solid Colors */
$aqua: #00B5FE;
$orange: #FFD86A;
$blue: #2B92FA;
$yellow: #FFFB53;


/*  ! Positioning
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$margin-multiplier: 2;
$general-margin: $baseline * $margin-multiplier;