/* ==================================================
   ! Theme styles.
================================================== */
/**
 * 1. Mixins
 * 2. Typography
 * 3. Buttons
 * 4. List
 * 5. Form
 * 6. Table
 * 7. Layout Related
 */


/*  ! Mixins
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Button =====================
@mixin button($button-color, $text-color ) {
    background-color: $button-color;
    
    color: $text-color;

    border-color: darken($button-color, 20%);

    @include box-shadow(0 -2px 0 darken($button-color, 20%) inset);
}

@mixin btn-theme($text, $border, $bg, $h-text, $h-border, $h-bg) {
  color: $text;
  background-color: $border;
  border-color: $bg;

  &:hover {
    color: $h-text;
    background-color: $h-border;
    border-color: $h-bg;
  }
}

/*  ! Typography
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
  color: $c-text;
  font: #{$base-font-size}/#{$baseline} $f-404;
}

a {
  color: $c-link;

  &:hover {
    color: $c-hover;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $f-707;
  
  padding: 0;
  margin: .3em 0;
}

h5,
h6 {
  font-family: $f-303;
  padding: 0;
  margin: .5em 0 1em;
}

h1 { font-size: 3.2em; }
h2 { font-size: 2.4em; }
h3 { font-size: 2em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

@media only screen and (max-width: 768px) {
  h1 { font-size: 2.4em; }
  h2 { font-size: 1.6em; }
  h3 { font-size: 1.2em; }
  h4 { font-size: 1em; }
  h5 { font-size: .8em; }
  h6 { font-size: .6em; }
  p,
  a, 
  blockquote,
  li
  {font-size: .8em }
}

@media only screen and (max-width: 991px) {
  h1 { font-size: 2.8em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.6em; }
  h4 { font-size: 1.2em; }
  h5 { font-size: 1em; }
  h6 { font-size: .8em; }
  p,
  a, 
  blockquote,
  li
  {font-size: .9em }
}

blockquote cite {
  color: $c-text-light;
}

ul.meta li {
  font-family: $f-303;
}


/*  ! Buttons
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.btn-theme-aqua {
  @include btn-theme(#fff, $aqua, $aqua, $yellow, $orange, $orange);
  span {
    padding-left: .5em;
    font-size: .8em;
  }
}


/*  ! List
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.l-list-divided li {
  border-right: 1px solid $grey;
  padding-right: 2rem;

  &:last-child {
    border-right: none;
    padding-right: 0;
  }
}

.l-image-well {
  float: left;
  margin-right: 2rem;

  background-color: $grey;


  width: 7rem;
  height: 7rem;

  @include border-radius(3px);

  padding-top: 1.2rem;
}


/*  ! Form
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/*  ! Table
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/






/*  ! Layout related
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.t-margin {
  margin-bottom: $baseline * 3;
}


