/* ==================================================
   ! Theme styles.
================================================== */

/*  ! Mixins
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Button =====================
@mixin button($button-color, $text-color ) {
    background-color: $button-color;
    
    color: $text-color;

    border-color: darken($button-color, 20%);

    @include box-shadow(0 -2px 0 darken($button-color, 20%) inset);
}

/*  ! Typography
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body {
  color: $c-text;
  font: #{$base-font-size}/#{$baseline} $f-404;
}

a {
  color: $c-link;

  &:hover {
    color: $c-hover;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $f-707;

  margin-bottom: 2rem;
}

h5,
h6 {
  @extend h1;

  font-family: $f-307;
  text-transform: uppercase;
}

h1 { font-size: 4.5rem; text-transform: uppercase;}
h2 { font-size: 3.6rem; }
h3 { font-size: 3rem; }
h4 { font-size: 2.4rem; }
h5 { font-size: 2rem; }
h6 { font-size: 1.6rem; }


blockquote cite {
  color: $c-text-light;
}

/*  ! Layout related
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.t-margin {
  margin-bottom: $baseline * 3;
<<<<<<< HEAD
}
=======
}

<<<<<<< HEAD
>>>>>>> sample-page
=======
/*  ! Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.t-beveled {
  border-bottom: 4px solid $c-border;

  @include box-shadow(0px 1px 5px $c-border-shadow);
}

.logo {
  margin: 0;
  padding: 0;

  height: 4rem;
  line-height: 4rem;
  text-transform: none;

  display: inline-block;
  
  a {
    background: transparent url(../images/logo.png) center left no-repeat;
    background-size: 4rem 4rem;

    padding-left: 5rem;
    padding-top: .7rem;

    font-family: $f-c09;
    // text-transform: uppercase;
    font-size: 3rem;  
    letter-spacing: .1rem;

    color: $red;

    @include text-shadow(0px 0px 3px rgba(0, 0, 0, .2));
  }
}

/*  ! Main Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#main-banner {
  background: $bg-banner;

  @include box-shadow(0 -4px 0 0 rgba(0, 0, 0, .2) inset);

  h1,
  h3, 
  p {
    color: #fff;
    
    @include text-shadow(1px 1px 3px rgba(0, 0, 0, .3));
  }

  hr {
    width: 75%;

    background-color: rgba(255, 255, 255, .4);
  }
}

/*  ! Buttons
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.button {
  @include button($orange, #fff);

  &:hover {
    @include button($yellow, $c-text);
  }
}

.button-primary {
  @include button($aqua, #fff);

  &:hover {
    @include button($blue, #fff);
  }
}

.button-secondary {
  @include button($grey, $c-text);

  &:hover {
    @include button($c-text, #fff);
  }
}

/*  ! List
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.l-list-divided li {
  border-right: 1px solid $grey;
  padding-right: 2rem;

  &:last-child {
    border-right: none;
    padding-right: 0;
  }
}



.l-image-well {
  float: left;
  margin-right: 2rem;

  background-color: $grey;


  width: 7rem;
  height: 7rem;

  @include border-radius(3px);

  padding-top: 1.2rem;
}

/*  ! Callout
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.l-callout {
  background-color: $bg-callout;

  color: darken($grey, 10%);

  @include text-shadow(0px 0px 3px rgba(0, 0, 0, .2));

  h2 {
    margin-top: 0;
  }

  h3 {
    margin: 0;
    color: darken($grey, 40%);
  }
}

/*  ! Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Social Icons =====================
.social-icon {
  background-color: lighten($grey, 2%);

  @include border-radius(3px);

  i.fa {
    @include text-shadow(-1px -1px 1px rgba(0, 0, 0, .4));
  }
}


















>>>>>>> sample-page
