/* ==================================================
   ! Base Style
================================================== */
body {
  -webkit-font-smoothing: antialiased;
  font-size: $base-font-size;
}

p {
  margin-bottom: $baseline;
}

a {
  text-decoration: none;
    
  &:hover {
    text-decoration: none;
    }
}

blockquote {
  margin: 0;
  font-style: italic;

  cite {
    font-size: 1.1rem;
  }
}