/* ==================================================
   ! Base Style
================================================== */
body {
  -webkit-font-smoothing: antialiased;
<<<<<<< HEAD
<<<<<<< HEAD
=======
  font-size: $base-font-size;
>>>>>>> sample-page
=======
>>>>>>> sample-page
}

p {
  margin-bottom: $baseline;
<<<<<<< HEAD

  a {
    text-decoration: none;
  }
}

blockquote {
  font-style: italic;
  
  cite {
    font-size: 1.1rem;  
=======
}

a {
  text-decoration: none;
    
  &:hover {
    text-decoration: none;
    }
}

blockquote {
  margin: 0;
  font-style: italic;

  cite {
    font-size: 1.1rem;
>>>>>>> sample-page
  }
}